<div class="main-content">
  <div class="problem">
    <p>
      Its been a pretty rough Christmas. The elves are unionizing and no one taught Santa how to use Windows 10.
      Come on Santa, its been 3 years.
    </p>
    <p>
      Santa needs your help to get his life together and make sure everyone gets their presents on time.
      He is holding your present hostage, and through completion of each problem, Santa will give you
      another hint to where your present is.
    </p>
    <ul>
      <li><em>You MUST solve problems in order.</em> Clues will not make sense otherwise.</li>
      <li>Please dont brute force answers.</li>
      <li>There is no penalty for being wrong.</li>
      <li>Some problems may be case sensitive. </li>
      <li>It is in your best interest to write down your solutions and clues. (santa didnt have beta testers)</li>
      <li>You have 3 hints.</li>
    </ul>

    <div class="green">
      <p>
        Good luck, have fun. Begin with "words are hard"
      </p>
    </div>


  </div>

</div>
