<div class="main-content">
  <div class="problem">

    <div class="intro">
      <p>On the fourth day of Christmas, my true love gave to me…
        4 something something barcodes...</p>
    </div>

    <p>
      Santa has no clue how to do taxes on all the toys he buys, err... makes..., without the receipts.
      But he noticed that the elves have randomly ripped off barcodes from various recepts and glued them onto
      papers around the workshop. Elves are not known for their bookkeeping skills.
      Santa picked up one paper and needs to find out how much he spent on toys.
    </p>
    <p>
      <b>
        <em><a href="../../../assets/barcodes.png" download>This paper</a></em> has 15 barcodes. Find the sum of the result of the barcode's values.
      </b>
    </p>

    <app-submit-field (messageEvent)="receiveMessage($event)"></app-submit-field>

    <!--<form class="example-form">-->
    <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="enter answer">-->
    <!--</mat-form-field>-->
    <!--</form>-->
    <!--<div class="">-->
    <!--<button mat-flat-button color="primary">submit</button>-->
    <!--</div>-->

  </div>

</div>
