<div class="main-content">
  <div class="problem">

    <div class="intro">
      <p>On the first day of Christmas, my true love gave to me…
        A cipher for which to find the key.</p>
    </div>

    <p>Well, crap. Santa set up a new password on his computer about a week ago, but he’s pretty forgetful.
      He decided he should encrypt it, instead of leaving it on a post-it note stuck to his monitor.
      But now he can’t remember his password, or what cipher he used to encrypt it, or really anything else about how encrypted it.
      Like we said, he’s very forgetful. Here’s the message, can you get Santa’s password for him?
      (It’s kinda time-sensitive, he put the naughty and nice lists on his computer).
    </p>
    <p>
      <b>
        Qzodkbfuzs yk oaybgfqd bmeeiadp ea U pa zaf radsqf uf. Radfgzmfqxk U iuxx nq mnxq fa dqrqdqzoq ftue zafq fa dqyqynqd uf mzk fuyq U zqqp. U fqzp fa radsqf ftuzse eayqfuyqe. Bmeeiadp: yqddk
      </b>
    </p>

    <app-submit-field (messageEvent)="receiveMessage($event)"></app-submit-field>

    <!--<form class="example-form">-->
    <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="enter answer">-->
    <!--</mat-form-field>-->
    <!--</form>-->
    <!--<div class="">-->
    <!--<button mat-flat-button color="primary">submit</button>-->
    <!--</div>-->

  </div>

</div>
