<div class="main-content">
  <div class="problem">

    <div class="intro">
      <p>On the sixth day of christmas, my true love gave to me...
      6 confusing clues?</p>
    </div>

    <p>On Santa's practice trial run with the reindeer it seems like he dropped a very important box containing your
      last key, unfortunately, he cant seem to remember where it fell.
    </p>
    <p>
      <b>
        Find Santa's missing box.
      </b>
    </p>

    <app-submit-field (messageEvent)="receiveMessage($event)"></app-submit-field>

    <!--<form class="example-form">-->
    <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="enter answer">-->
    <!--</mat-form-field>-->
    <!--</form>-->
    <!--<div class="">-->
    <!--<button mat-flat-button color="primary">submit</button>-->
    <!--</div>-->

  </div>

</div>
