<div class="main-content">
  <div class="problem">

    <div class="intro">
      <p>On the fifth day of Christmas, my true love gave to me…
        fiiiive crowded citiiiiies (this is going to be a fun one)</p>
    </div>

    <p>There’s a particular cluster of five cities that is notorious for two things: the traffic and the air pollution.
      This is the perfect combination of elements to make Santa’s gift delivery difficult...and also just so happens to make an interesting problem for you (what a coincidence!)
      With all the pollution in the air, Santa won’t be able to fly in his sleigh. Instead, he’ll have his reindeer pull it down the streets between the cities.
    </p>
    <p>
      The cities are arranged as vertices of a regular pentagon, and are Cryptokey Heights, Hashville, Reflection Town, Deep Learning City, and Parseburg, as shown below:
    </p>
    <img src="../../../assets/citiesimage.png">
    <p>
      After having the elves scout the roads between these cities, they have acquired some data about the usual traffic on the streets between the cities.
      For each street connecting two cities, they know the general direction of the traffic, depicted by gray arrows (Not each pair of cities is connected by a street,
      only the ones connected by arrows). The elves were also able to measure traffic flow between a few cities,
      which determines the average number of cars per minute flowing into or out of a city.
    </p>
    <p>
      Here are their results for traffic flow:
    </p>

    <ul>
    <li>Hashville to Cryptokey City: 100</li>
    <li>Parseburg to Hashville: 40</li>
    <li>Deep Learning City to Hashville: 60</li>
    </ul>

    <p>
      Wait, that’s it? We only have three traffic measurements, but we need all of them. Elves are the worst.
      Fortunately, it looks like you can still <em><a href="https://en.wikipedia.org/wiki/Flow_network">solve this.</a></em>
      Keep in mind that the traffic flowing into a city must equal traffic flowing out of a city.
    </p>

    <p>
      <b>
        Thus, what is the <em>total traffic flow</em> between all cities?
      </b>
    </p>

    <app-submit-field (messageEvent)="receiveMessage($event)"></app-submit-field>


  </div>

</div>
