<div class="main-content">
  <div class="problem">

    <div class="intro">
      <p>On the third day of Christmas my true love gave to me...
      three additive colors.</p>
    </div>

    <p>Santa has a very specific way of wrapping his presents and that he uses for the bows and wrapping paper.
      The elves dont really get the rules, and need your help to decipher how to wrap each present.
    </p>
    <ul>
      <li>
        When you multiply two numbers together, the color of the resulting product is determined by the colors of the two numbers.
      </li>
      <li>
        When you multiply two numbers of the same color, the resulting product is <em>black.</em>
      </li>
      <li>
        General RGB <em><a href="https://en.wikipedia.org/wiki/RGB_color_model?scrlybrkr=31154a8c" style="color:white">additive rules</a></em> apply
      </li>
      <li>
        The color of a prime number is determined by its remainder from dividing by 12 as follows:
        <ul class="examples">
          <li>1 - Black</li>
          <li>2,5 - Red</li>
          <li>3,7 - Green</li>
          <li>11 - Blue</li>
        </ul>
      </li>
    </ul>
    <ul>
      <li>17/12 has remainder of 5. Therefore, 17 is red.</li>
      <li> 2 is a Red number and 11 is a blue number.  2 * 11 = 22, therefore, 22 is a magenta number.</li>
    </ul>
    <p>
      <b>
        What color is the number 155?
      </b>
    </p>

    <app-submit-field (messageEvent)="receiveMessage($event)"></app-submit-field>

    <!--<form class="example-form">-->
    <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="enter answer">-->
    <!--</mat-form-field>-->
    <!--</form>-->
    <!--<div class="">-->
    <!--<button mat-flat-button color="primary">submit</button>-->
    <!--</div>-->

  </div>

</div>
