<div class="example-container"  [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="example-sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" >
      <div class="parent-div">
        <mat-button-toggle-group class="toggle-group" vertical name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="problem1" routerLink="/problem1" routerLinkActive="active">words are hard</mat-button-toggle>
          <mat-button-toggle value="problem2" routerLink="/problem2" routerLinkActive="active">special numbers</mat-button-toggle>
          <mat-button-toggle value="problem3" routerLink="/problem3" routerLinkActive="active">color cube</mat-button-toggle>
          <mat-button-toggle value="problem4" routerLink="/problem4" routerLinkActive="active">i hate walmart</mat-button-toggle>
          <mat-button-toggle value="problem5" routerLink="/problem5" routerLinkActive="active">chicago</mat-button-toggle>
          <mat-button-toggle value="problem5" routerLink="/problem6" routerLinkActive="active">no box robots</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  </div>
